---
import Layout from '@/layouts/Layout.astro';
import type { GetStaticPaths } from 'astro';
import { trendings } from '@/common/trendings';
import { Image } from 'astro:assets';
import Button from '@/components/Button.astro';

export const getStaticPaths = (() => {
  // Se debe retornar un "[]" con los params, y "map()" retorna un "[]"
  return trendings.map((trending) => ({ params: { slug: trending.slug } }));
}) satisfies GetStaticPaths;

const { slug } = Astro.params;

const currentTrending = trendings.filter(
  (trending) => trending.slug === slug
)[0];
---

<Layout title={currentTrending.title}>
  <article>
    <h1 class="h1" transition:name={currentTrending.title}>
      {currentTrending.title}
    </h1>
    <p class="p-italic">
      {currentTrending.description}
    </p>
    <Image
      class="rounded-lg mb-5"
      src={currentTrending.img}
      alt={currentTrending.title}
    />
    <p class="p">
      {currentTrending.content}
    </p>
  </article>
  <Button />
</Layout>
