---
import { Image } from 'astro:assets';

interface Props {
  number: string;
  title: string;
  slug: string;
  description: string;
  img: ImageMetadata;
}

const { number, title, slug, description, img } = Astro.props as Props;
---

<article class="flex mb-8 gap-6 lg:flex-1/2">
  <Image class="w-[100px]" src={img} alt={description} />
  <div>
    <span class="text-[2rem] font-bold text-Soft-red">
      {number}
    </span>
    <h3>
      <a
        class="inline-block mb-1 font-extrabold text-Very-dark-blue text-lg hover:text-Soft-red transition-all duration-300 ease-in-out"
        href={`/trending/${slug}`}
        transition:name={title}
      >
        {title}
      </a>
    </h3>
    <p class="text-Dark-grayish-blue text-[.9375rem]/6">
      {description}
    </p>
  </div>
</article>
